* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(img/kamenka.gif);
  font-family: "Cabin", sans-serif;
  font-family: "Lemon", cursive;
  font-family: "Permanent Marker", cursive;
}

/* Utility Classes */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  padding: 0 -15px;
  display: flex;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
[class*="col-"] {
  padding: 0 15px;
}

/* BUTTON */
.btn {
  width: 210px;
  height: 60px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #3c2f2f;
  font-family: "Permanent Marker", cursive;
  color: #fff;
  z-index: 500;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #ffff00;
  color: #ffff00;
  transition: ease-out 0.2s;
}
.btn:focus {
  outline: none;
}
.btn:active {
  color: rgb(255, 0, 0);
}
/* PAGE 1 */

/* HEADER */
.header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-bottom: -85px;
}
.logo-a {
  display: block;
}
.logo-a .logo {
  width: 50px;
  height: 50px;
  margin: 15px;
}
.logo-a .logo:hover {
  filter: drop-shadow(0 0 5px yellow);
}

.menu-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-container .menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-container .menu .menu-li {
  display: block;
}
.menu-container .menu .menu-li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.menu-container .menu .menu-li a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px yellow, 0 0 30px yellow, 0 0 50px yellow;
}
.basket {
  position: relative;
  display: flex;
  justify-content: center;
}
.basket img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.basket img:hover {
  filter: drop-shadow(0 0 5px rgb(255, 255, 0));
}
.basket-counter {
  position: absolute;
  top: -15px;
  right: 0;
  color: #fff;
  cursor: pointer;
  z-index: 10000;
}
.basket-counter:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px yellow, 0 0 30px yellow, 0 0 50px yellow;
}

/* SLIDER */
.slider {
  margin-bottom: 250px;
  max-width: 100%;
}
.slider img {
  width: 100%;
}
.slider img:after {
  content: "";
  width: 100%;
  box-shadow: 0 0 20px black;
}

.swiper-pagination-bullet {
  width: 50px;
  height: 50px;
}

/* MAIN */
.burger-row {
  position: relative;
  height: 700px;
  display: flex;
  margin-top: -150px;
}
.burger-row .burger-item:nth-child(2) {
  align-self: flex-end;
}

.burger-item.cat-gif {
  position: absolute;
  top: 20%;
  left: calc(50% - 180px);
}
.burger-item.cat-gif img:hover {
  filter: drop-shadow(0 0 5px yellow);
}

.burger-item {
  color: #fff;
  text-align: center;
}
.burger-item img {
  width: 100%;
}
.burger-item img:hover {
  filter: drop-shadow(0 0 50px rgba(255, 255, 0, 0.3));
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}
.burger-item h1,
.burger-item h2 {
  letter-spacing: 0.1rem;
}
.burger-item h1 {
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
.burger-item h2 {
  font-size: 14px;
}
.burger-item p {
  font-size: 12px;
  margin: 10px 0;
  font-family: "Cabin", sans-serif;
  text-align: justify;
  text-transform: uppercase;
}

/* FOOTER */
.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  padding: 10px 0;
}
.footer .row {
  display: flex;
  justify-content: center;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.footer img {
  width: 50px;
  height: 50px;
  margin: 20px;
  filter: drop-shadow(0 0 10px #fff);
}
.footer img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ffff00);
}

/* __________PAGE 2__________*/

/* MODAL WINDOW */
.modal {
  z-index: 800;
  position: absolute;
  padding-top: 400px;
  width: 100%;
  height: 100%;
  color: #fff;
  display: none;
}
.modal-window {
  width: 1200px;
  background-color: #211107;
  margin: auto;
  display: flex;
}
.modal-window-text {
  width: 1200px;
  margin: auto;
  background-color: #211107;
}
.modal-img img {
  width: 400px;
  margin: 15px 0;
}
.modal-images {
  text-align: center;
}
.modal-images img {
  width: 150px;
  height: 100px;
  border: 2px solid #fff;
}
.modal-images h1 {
  border-bottom: 1px solid #fff;
}
.modal-text {
  padding: 15px 40px;
  height: 125vh;
  overflow-y: scroll;
}
.cross {
  position: relative;
}
.cross img {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 35px;
  height: 35px;
  display: block;
}
.cross img:hover {
  transform: scale(1.1);
}

/* BG_CAT_GIF */
.bg-cat-wraper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.bg-cat {
  width: 150px;
  height: 150px;
}
.bg-cat-text {
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 75px;
}

/* MAIN PART */
.row-blog-main {
  margin-top: 25px;
}
.blog-img img {
  width: 100%;
}
.blog-description {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0);
  cursor: pointer;
}
.blog-description:hover {
  color: rgb(200, 200, 200);
  background-color: rgba(0, 0, 0, 0.75);
}
.blog-description h1 {
  font-size: 23px;
  border-bottom: 2px solid #fff;
}
.blog-description h2 {
  font-size: 15px;
}
.blog-description p {
  font-size: 10px;
  text-align: justify;
}
.blog-bg-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-bg-cat img {
  width: 210px;
}
.blog-cat-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.blog-cat-gif img {
  margin-top: -50px;
}
.blog-cat-gif img:hover {
  filter: drop-shadow(0 0 5px yellow);
}

/* BLOG FOOTER */

.blog-footer {
  margin-top: 50px;
  overflow: hidden;
}

/* __________PAGE 3__________*/

/* Main */
.shop-row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.shop-top-row {
  margin-top: 200px;
}
.white-img {
  position: absolute;
  top: -55px;
  left: 15px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.25);
  width: 550px;
  height: 250px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.dark-img {
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 385px;
  height: 175px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.shop-burger-img {
  margin-top: 15px;
  width: 300px;
  height: 250px;
}
.shop-burger-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 15px;
}
.shop-burger-item h1 {
  border-bottom: 2px solid #fff;
  font-size: 23px;
  letter-spacing: 3px;
}
.shop-burger-item h2 {
  font-size: 15px;
  letter-spacing: 2px;
}
.shop-burger-item p {
  font-size: 10px;
  width: 70%;
}
.btn-paw {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 5px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
.btn-paw:hover {
  filter: drop-shadow(0 0 15px rgb(255, 255, 0));
  transform: scale(1.1);
  color: #ffff00;
  outline: none;
}
.btn-paw:active {
  color: #ff0000;
}
.shop-burger-item .btn-paw img {
  width: 15px;
  height: 15px;
}
.shop-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.shop-cat-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin: -50px 0 50px 0;
}
/* SHOP MODAL */
.shop-modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.shop-modal-container {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 80vh;
  background: linear-gradient(#775b45, #340a0a);
  margin: 0 auto;
  margin-top: 100px;
}
.shop-modal-row {
  height: 250px;
  width: 100%;
  display: flex;
  padding: 0 -15px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}
.shop-modal-row1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.shop-burger-img {
  width: 200px;
  height: 150px;
  margin: 15px;
}
.shop-burger-price {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: transparent;
  border: none;
  width: 100px;
  outline: none;
}
.input-shop {
  width: 100px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}
.btn-shop {
  width: 50px;
  height: 50px;
  line-height: 25px;
}
.shop-btn-paw {
  width: 100px;
  height: 80px;
  font-size: 35px;
}
.shop-btn-paw img {
  width: 30px;
  height: 30px;
}
.modal-supl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-modal-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shop-modal-box img {
  width: 60%;
  height: 100px;
}
.shop-modal-box p {
  width: 100%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
.btn-paw-buy {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 5px;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
.btn-paw-buy:hover {
  filter: drop-shadow(0 0 15px rgb(255, 255, 0));
  transform: scale(1.1);
  color: #ffff00;
  outline: none;
}
.btn-paw-buy:active {
  color: #ff0000;
}
.input-supl {
  width: 50px;
  height: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}
.btn-supl {
  width: 30px;
  height: 30px;
  line-height: 15px;
}
.supltop-btn {
  width: 70px;
  height: 50px;
  line-height: 20px;
}
.supl-btn {
  width: 45%;
  height: 40px;
  line-height: 30px;
}
.input-total {
  width: 50%;
  height: 50px;
  font-size: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.shop-cross {
  position: relative;
}
.shop-cross img {
  position: absolute;
  bottom: -150px;
  right: 20%;
  width: 35px;
  height: 35px;
  display: block;
}
.shop-cross img:hover {
  transform: scale(1.1);
}

/* PAGE 4 */

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
.contact-box-top {
  margin-top: 200px;
}
.contact-box h1 {
  font-size: 40px;
  font-weight: bold;
}
.contact-box p {
  font-size: 18px;
  margin-top: 50px;
}
.contact-box span {
  font-style: italic;
  font-size: 30px;
  letter-spacing: 4px;
  padding: 15px 0;
}
.contact-box span:hover {
  color: yellow;
}
.contact-social {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0 0 0;
}
.contact-social img {
  margin: 10px 0;
}
.contact-social img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px #61f2ed);
}
.map {
  margin-bottom: 100px;
}

/* ______________JS CLASSES______________ */
.dis-block {
  display: block;
}
.dis-none {
  display: none;
}
.bgc-dark-js {
  background: rgba(0,0,0,.9);
}
.bgc-stone-js {
  background: url(img/kamenka.gif);
}