* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(img/kamenka.gif);
  font-family: "Cabin", sans-serif;
  font-family: "Lemon", cursive;
  font-family: "Permanent Marker", cursive;
}

/* Utility Classes */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  padding: 0 -15px;
  display: flex;
}

[class*="col-"] {
  padding: 0 15px;
}

/* BUTTON */
.btn {
  width: 210px;
  height: 60px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #3c2f2f;
  font-family: "Permanent Marker", cursive;
  color: #fff;
  
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #ffff00;
  color: #ffff00;
  transition: ease-in-out 0.2s;
}
.btn:focus {
  outline: none;
}
/* PAGE 1 */

/* HEADER */
.header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: -85px;
}
.logo-a {
  display: block;
}
.logo-a .logo {
  width: 50px;
  height: 50px;
  margin: 15px;
}
.logo-a .logo:hover {
  filter: drop-shadow(0 0 5px yellow);
}

.menu-container {
  display: flex;
  align-items: center;
}
.menu-container .menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-container .menu .menu-li {
  display: block;
}
.menu-container .menu .menu-li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.menu-container .menu .menu-li a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px yellow, 0 0 30px yellow, 0 0 50px yellow;
}
.basket {
  position: relative;
  display: flex;
  justify-content: center;
}
.basket img{
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.basket img:hover {
  filter: drop-shadow(0 0 5px rgb(255,255,0))
}
.basket-counter {
  position: absolute;
  top: -15px;
  right: 0;
  color: #fff;
  cursor: pointer;
  z-index: 10000;
}
.basket-counter:hover {
  transform: scale(1.1);
  text-shadow: 0 0 10px yellow, 0 0 30px yellow, 0 0 50px yellow;
}

/* SLIDER */
.slider {
  margin-bottom: 250px;
  max-width: 100%;
}
.slider img {
  width: 100%;
}
.slider img:after {
  content: "";
  width: 100%;
  box-shadow: 0 0 20px black;
}

.swiper-pagination-bullet {
  width: 50px;
  height: 50px;
}

/* MAIN */
.burger-row {
  position: relative;
  height: 700px;
  display: flex;
  margin-top: -150px;
}
.burger-row .burger-item:nth-child(2) {
  align-self: flex-end;
}

.burger-item.cat-gif {
  position: absolute;
  top: 20%;
  left: calc(50% - 180px);
}
.burger-item.cat-gif img:hover {
  filter: drop-shadow(0 0 5px yellow);
}

.burger-item {
  color: #fff;
  text-align: center;
}
.burger-item img {
  width: 100%;
}
.burger-item img:hover {
  filter: drop-shadow(0 0 50px rgba(255, 255, 0, 0.3));
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}
.burger-item h1,
.burger-item h2 {
  letter-spacing: 0.1rem;
}
.burger-item h1 {
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
.burger-item h2 {
  font-size: 14px;
}
.burger-item p {
  font-size: 12px;
  margin: 10px 0;
  font-family: "Cabin", sans-serif;
  text-align: justify;
  text-transform: uppercase;
}

/* FOOTER */
.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  padding: 10px 0;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.footer img {
  width: 50px;
  height: 50px;
  margin: 20px;
  filter: drop-shadow(0 0 10px #fff);
}
.footer img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #ffff00);
}

/* PAGE 2 */
/* ____ANIMATION____ */
.moving-lines {
  position: relative;
}
.one .line, .two .line, .three .line, .four .line, .five .line, .six .line, .seven .line, .eight .line, .nine .line, .ten .line {
  position: absolute;
  height: 5px;
  transform: rotate(-45deg);
  background-color: #fff;
  z-index: -1;
}
.one .line {
  top: 0;
  left: 0px;
  width: 25px;
  animation-name: line-one;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.one .line:nth-child(2){
  animation-delay: 1s;
}

@keyframes line-one {
  from {
    top:-25px;
    left:25px;
  }
  to {
    top:25px;
    left:-25px
  }
}

.two .line {
  top: 10px;
  left: 10px;
  width: 35px;
  animation-name: line-two;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.two .line:nth-child(2){
  animation-delay: 1s;
}

@keyframes line-two {
  0% {
    top:10px;
    left:10px;
  }
  50% {
    top:40px;
    left:-20px;
  }
  100% {
    top:-20px;
    left: 40px;
  }
}

.three .line {
  top: 20px;
  left: 20px;
  width: 50px;
  animation-name: line-three;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.three .line:nth-child(2){
  animation-delay: .55s;
}
.three .line:nth-child(3){
  animation-delay: 1.25s;
}

@keyframes line-three {
  0% {
    top:20px;
    left:20px;
  }
  50% {
    top:80px;
    left:-40px;
  }
  100% {
    top:-40px;
    left: 80px;
  }
}

.four .line {
  top: 30px;
  left: 30px;
  width: 60px;
  animation-name: line-four;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.four .line:nth-child(2){
  animation-delay: .85s;
}
.four .line:nth-child(3){
  animation-delay: 1.45s;
}

@keyframes line-four {
  0% {
    top:30px;
    left:30px;
  }
  50% {
    top:90px;
    left:-30px;
  }
  100% {
    top:-30px;
    left: 90px;
  }
}

.five .line {
  top: 40px;
  left: 40px;
  width: 70px;
  animation-name: line-five;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.five .line:nth-child(2){
  animation-delay: .50s;
}
.five .line:nth-child(3){
  animation-delay: 1.05s;
}
.five .line:nth-child(4){
  animation-delay: 1.55s;
}

@keyframes line-five {
  0% {
    top:40px;
    left:40px;
  }
  50% {
    top:190px;
    left:-110px;
  }
  100% {
    top:-110px;
    left: 190px;
  }
}

.six .line {
  top: 50px;
  left: 50px;
  width: 80px;
  animation-name: line-six;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.six .line:nth-child(2){
  animation-delay: .75s;
}
.six .line:nth-child(3){
  animation-delay: 1.45s;
}
.six .line:nth-child(4){
  animation-delay: 1.85s;
}

@keyframes line-six {
  0% {
    top:50px;
    left:50px;
  }
  50% {
    top:120px;
    left:-20px;
  }
  100% {
    top:-20px;
    left: 120px;
  }
}

.seven .line {
  top: 60px;
  left: 60px;
  width: 90px;
  animation-name: line-seven;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.seven .line:nth-child(2){
  animation-delay: .35s;
}
.seven .line:nth-child(3){
  animation-delay: 1.15s;
}
.seven .line:nth-child(4){
  animation-delay: 1.65s;
}

@keyframes line-seven {
  0% {
    top:60px;
    left:60px;
  }
  50% {
    top:180px;
    left:-60px;
  }
  100% {
    top:-60px;
    left: 180px;
  }
}

.eight .line {
  top: 70px;
  left: 70px;
  width: 100px;
  animation-name: line-eight;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.eight .line:nth-child(2){
  animation-delay: 1.35s;
}
.eight .line:nth-child(3){
  animation-delay: 2.15s;
}
.eight .line:nth-child(4){
  animation-delay: 3.65s;
}

@keyframes line-eight {
  0% {
    top:70px;
    left:70px;
  }
  50% {
    top:270px;
    left:-130px;
  }
  100% {
    top:-130px;
    left: 270px;
  }
}

.nine .line {
  top: 80px;
  left: 80px;
  width: 120px;
  animation-name: line-nine;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.nine .line:nth-child(2){
  animation-delay: .5s;
}
.nine .line:nth-child(3){
  animation-delay: 1.25s;
}
.nine .line:nth-child(4){
  animation-delay: 2.15s;
}

@keyframes line-nine {
  0% {
    top:80px;
    left:80px;
  }
  50% {
    top:200px;
    left:-40px;
  }
  100% {
    top:-40px;
    left: 200px;
  }
}

.ten .line {
  top: 100px;
  left: 100px;
  width: 100px;
  animation-name: line-ten;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.ten .line:nth-child(2){
  animation-delay: .5s;
}
.ten .line:nth-child(3){
  animation-delay: 1s;
}
.ten .line:nth-child(4){
  animation-delay: 1.5s;
}

@keyframes line-ten {
  0% {
    top:100px;
    left:100px;
  }
  30% {
    top:250px;
    left:-50px;
  }
  100% {
    top:-50px;
    left: 250px;
  }
}





